[submodule "ExercisesCdx-Back"]
	path = ExercisesCdx-Back
	url = https://github.com/HoracioGomes/ExercisesCdx-Back
[submodule "ExercisesCdx-Front"]
	path = ExercisesCdx-Front
	url = https://github.com/HoracioGomes/ExercisesCdx-Front
